.contacts {
  margin-top: 38px;
  margin-bottom: 39px;

  @media ($tablet-width) {
    margin-bottom: 57px;
  }

  @media ($desktop-width) {
    margin-bottom: 104px;
  }
}

.contacts__wrapper {
  position: relative;

  @media ($desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin: 0 auto;
  }
}

.contacts__wrapper-info {
  @media ($mobile-width) {
    max-width: 500px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media ($tablet-width) {
    max-width: 900px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media ($desktop-width) {
    width: 50%;
    padding: 0;
    padding-left: 225px;
    margin: 0;
  }
}

.contacts__title {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color-basic-black;
  text-align: left;
  margin: 0;
  margin-bottom: 26px;

  @media ($tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 69px;
    margin-bottom: 48px;

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      right: 3px;
      bottom: -9px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media ($desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 111px;
    margin-bottom: 33px;

    &::after {
      left: -112px;
      bottom: -6px;
    }
  }
}

.contacts__table {
  margin-bottom: 30px;

  @media ($tablet-width) {
    margin-bottom: 16px;
  }

  @media ($desktop-width) {
    margin-bottom: 51px;
  }
}

.contacts__table tbody {
  @media ($tablet-width) {
    display: flex;
  }

  @media ($desktop-width) {
    display: block;
  }
}

.contacts__email {
  display: flex;
  padding-bottom: 30px;
}

.contacts__adress {
  display: flex;
  padding-bottom: 30px;
}

.contacts__feature {
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: $color-text-description;
  min-width: 76px;
  padding: 0;

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__value {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-text-description;
  padding: 0;

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
    min-width: 255px;
  }
}

.contacts__value-link-email {
  position: relative;
  text-decoration: none;
  color: $color-text-description;
  border-bottom: 1px solid $color-form-decoration-green;
  padding-bottom: 2px;

  @media ($tablet-width) {
    padding-bottom: 3px;
  }

  @media ($desktop-width) {
    padding-bottom: 7px;
  }

  &:hover,
  &:focus {
    color: $color-focus-green;
    border-bottom: 1px solid $color-focus-green;
  }

  &:active {
    border-bottom: 1px solid $color-basic-mail-green-opacity-01;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 36px;

  &::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 100px;
    left: 23px;
    right: 0;
    margin: auto;
    top: 143px;
    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media ($mobile-width) {
    background-image: url("../img/map-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px 455px;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-mobile@2x.png");
      background-size: 320px 455px;
    }
  }

  @media ($tablet-width) {
    margin-bottom: 0;
    background-image: url("../img/map-tablet.png");
    background-repeat: no-repeat;
    background-size: 768px 457px;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: 768px 457px;
    }

    &::after {
      left: 25px;
    }
  }

  @media ($desktop-width) {
    position: absolute;
    height: 457px;
    width: 527px;
    top: 0;
    right: 50px;
    background-image: url("../img/map-desktop.png");
    background-repeat: no-repeat;
    background-size: 527px 457px;
    background-position: left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 527px 457px;
    }

    &::after {
      left: 0;
      right: -19px;
    }
  }
}

.contacts__map iframe {
  @media ($mobile-width) {
    width: 100%;
    height: 455px;
  }

  @media ($tablet-width) {
    width: 100%;
    height: 457px;
  }

  @media ($desktop-width) {
    width: 527px;
    height: 457px;
  }
}

.contacts-link-wrapper {
  @media ($mobile-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media ($tablet-width) {
    padding: 0 50px;
    margin-top: 53px;
  }

  @media ($desktop-width) {
    margin: 0;
    padding-left: 225px;
  }
}

.contacts__link {
  width: 260px;
  margin: 0 auto;
  padding: 14px 34px;

  @media ($tablet-width) {
    font-size: 17px;
    width: 230px;
  }

  @media ($desktop-width) {
    margin: 0;
  }
}
