.page-footer {
  background-color: $color-page-background-grey;
}

//.page-footer__wrapper {}

//.page-footer__logo {}

//.page-footer__social {}

//.social {}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

//.social__item {}

//.social__link {}

//.social__link--instagram {}

//.social__link--facebook {}

//.social__link--twitter {}

//.page-footer__copyright {}

//.page-footer__copyright-text {}

//.page-footer__copyright-link {}
