.form-content {
  margin-bottom: 55px;

  @media ($tablet-width) {
    margin-bottom: 50px;
  }
}

.form-content__wrapper--accent {
  @media ($tablet-width) {
    background-color: $color-page-background-grey;
  }
}

.form-content__text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 13px;
  line-height: 24px;
  color: $color-text-description;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 30px;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
    max-width: 900px;
    margin-top: 56px;
    margin-bottom: 17px;
  }

  @media ($desktop-width) {
    margin-top: 99px;
    margin-right: 175px;
    margin-left: 175px;
  }
}

.form-content__fieldset {
  border: none;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    max-width: 900px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 110px;
  }
}

.form-content__fieldset--radio {
  padding-bottom: 32px;

  @media ($tablet-width) {
    align-items: baseline;
    padding-top: 51px;
    padding-bottom: 21px;
  }

  @media ($desktop-width) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.form-content__legend {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-accent-green;
  border: none;
  padding: 0;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: $color-form-decoration-green;
  }

  &--type {
    &::after {
      margin-left: 22px;
    }
  }

  &--color {
    &::after {
      margin-left: 16px;
    }
  }

  &--name {
    &::after {
      margin-left: 18px;
    }
  }

  &--tel {
    &::after {
      margin-left: 28px;
    }
  }

  &--email {
    &::after {
      margin-left: 20px;
    }
  }

  &--add {
    &::after {
      margin-left: 20px;
    }

    @media ($mobile-width) {
      margin-bottom: 22px;
    }
  }

  @media ($tablet-width) {
    display: block;
    width: 167px;
  }

  @media ($desktop-width) {
    display: block;
    width: 113px;
  }
}

.form-content__radio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-content__radio-item {
  display: block;


  @media ($mobile-width) {
    margin-bottom: 5px;

    &:first-child {
      margin-top: 24px;
    }
  }

  @media ($tablet-width) {
    margin-bottom: 24px;
  }
}

.form-content__radio-input + .form-content__radio-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    top: 6px;
    border: 2px solid $color-text-description;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid $color-form-decoration-green;
  }

  &:active::before {
    border: 2px solid $color-basic-black-opacity-03;
  }

  @media ($tablet-width) {
    &::before {
      width: 50px;
      height: 50px;
      left: 3px;
      top: -4px;
    }
  }
}

.form-content__radio-input:focus + .form-content__radio-label::before {
  outline: 2px solid $color-basic-black;
}

.form-content__radio-input:checked + .form-content__radio-label {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 12px;
    top: 18px;
    background-color: $color-form-decoration-green;
    border-radius: 50%;
  }

  @media ($tablet-width) {
    &::after {
      width: 19px;
      height: 19px;
      left: 19px;
      top: 12px;
    }
  }
}

.form-content__radio-label {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-basic-black;
  min-height: 42px;
  padding-top: 12px;
  padding-left: 61px;

  &--toy {
    padding-top: 18px;

    @media ($tablet-width) {
      padding-top: 13px;
    }
  }

  @media ($tablet-width) {
    font-size: 19px;
    line-height: 18px;
    min-height: 52px;
    padding-left: 80px;
  }
}

.form-content__fieldset--checkbox {
  padding-bottom: 35px;

  @media ($tablet-width) {
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 49px;
  }

  @media ($desktop-width) {
    padding-top: 51px;
    padding-bottom: 50px;
    padding-right: 165px;
  }
}

.form-content__checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media ($mobile-width) {
    margin-top: 27px;
  }

  @media ($tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 24px;
  }

  @media ($desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}

.form-content__checkbox-item {
  @media ($mobile-width) {
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
}

.form-content__checkbox-input + .form-content__checkbox-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    left: 0;
    top: -3px;
    bottom: 0;
    margin: auto 0;
    border: 2px solid $color-text-description;
  }

  @media ($tablet-width) {
    &::before {
      width: 52px;
      height: 52px;
    }
  }

  &:hover::before {
    border: 2px solid $color-form-decoration-green;
  }

  &:active::before {
    border: 2px solid $color-basic-black-opacity-03;
  }
}

.form-content__checkbox-input:checked + .form-content__checkbox-label {
  &::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 16px;
    left: 7px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url("../img/form_checkbox_checked-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media ($tablet-width) {
    &::after {
      width: 32px;
      height: 22px;
      left: 10px;
      background-image: url("../img/form_checkbox_checked-big.svg");
    }
  }

  @media ($desktop-width) {
    &::after {
      top: 2px;
      left: 12px;
    }
  }
}

.form-content__checkbox-input:focus + .form-content__checkbox-label::before {
  border: 2px solid $color-form-decoration-green;
}

.form-content__checkbox-label {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-basic-black;

  padding: 8px 0 8px 61px;

  @media ($tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding: 17px 0 17px 81px;
  }

  @media ($desktop-width) {
    padding-left: 84px;
  }
}

.form-content__fieldset--name {
  padding-bottom: 34px;

  @media ($tablet-width) {
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media ($desktop-width) {
    padding-bottom: 49px;
  }
}

.form-content__name-wrapper {
  flex-grow: 2;

  @media ($desktop-width) {
    padding-right: 175px;
  }
}

.form-content__name-paragraph {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media ($mobile-width) {
    &:first-child {
      margin-top: 28px;
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  @media ($tablet-width) {
    flex-direction: row;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.form-content__name-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-basic-black;

  @media ($tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-top: 17px;
    padding-right: 26px;
  }

  @media ($desktop-width) {
    margin-left: 3px;
  }
}

.form-content__text-input {
  font-family: inherit;
  font-weight: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $color-text-description;
  border: none;
  flex-grow: 1;
  padding: 0;
  height: 52px;
  box-shadow: inset 0 -2px 0 $color-basic-black;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: inset 0 -2px 0 $color-form-decoration-green;
  }

  &::placeholder {
    color: $color-basic-black-opacity-03;
  }

  @media ($tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-left: 17px;
  }
}

.form-content__fieldset--tel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

  @media ($tablet-width) {
    flex-direction: row;
    align-items: baseline;
    padding-top: 45px;
    padding-bottom: 21px;
  }

  @media ($desktop-width) {
    padding-top: 47px;
    padding-right: 225px;
  }
}

.form-content__text-input--tel {
  padding: 0;
  height: 56px;
  padding-right: 60px;

  @media ($tablet-width) {
    background-color: $color-page-background-grey;
    padding-left: 18px;
  }

  &:hover + .form-content__tel-icon,
  &:focus + .form-content__tel-icon,
  &:active + .form-content__tel-icon {
    fill: $color-form-decoration-green;
  }
}

.form-content__tel-icon {
  position: absolute;
  top: 31px;
  right: 37px;
  fill: $color-basic-black-opacity-02;

  @media ($tablet-width) {
    top: 61px;
    right: 76px;
  }

  @media ($desktop-width) {
    top: 63px;
    right: 233px;
  }
}

.form-content__fieldset--email {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

  @media ($tablet-width) {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 50px;
  }

  @media ($desktop-width) {
    padding-right: 225px;
  }
}

.form-content__text-input--email {
  padding: 0;
  height: 56px;
  padding-right: 60px;

  @media ($tablet-width) {
    background-color: $color-page-background-grey;
    padding-left: 18px;
  }

  &:hover + .form-content__mail-icon,
  &:focus + .form-content__mail-icon,
  &:active + .form-content__mail-icon {
    fill: $color-form-decoration-green;
  }
}

.form-content__mail-icon {
  position: absolute;
  top: 36px;
  right: 33px;
  fill: $color-basic-black-opacity-02;

  @media ($tablet-width) {
    top: 20px;
    right: 72px;
  }

  @media ($desktop-width) {
    right: 229px;
  }
}

.form-content__fieldset--add {
  padding-bottom: 14px;

  @media ($tablet-width) {
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 53px;
  }

  @media ($desktop-width) {
    padding-bottom: 49px;
  }
}

.form-content__text-textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  color: $color-text-description;
  width: 100%;
  min-height: 142px;
  border: 2px solid $color-text-description;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 2px solid $color-form-decoration-green;
  }

  &::placeholder {
    color: $color-basic-black-opacity-03;
  }

  @media ($tablet-width) {
    font-size: 19px;
    line-height: 18px;
    min-width: 501px;
    min-height: 142px;
  }

  @media ($desktop-width) {
    width: 700px;
  }
}

.form-content__wrapper-bottom {
  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    align-items: baseline;
    max-width: 900px;
  }

  @media ($desktop-width) {
    grid-template-columns: 33% 62%;
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 224px;
  }
}

.form-content__note {
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 16px;
  color: $color-text-description;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;

  @media ($tablet-width) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.form-content__button {
  font-size: 17px;
  line-height: 16px;
  background-color: transparent;
  padding: 16px 45px;

  @media ($mobile-width) {
    margin: 0 auto;
  }

  @media ($tablet-width) {
    padding: 16px 30px;
  }
}
