.header-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $color-basic-black;

  @media ($tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media ($desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
