.main-header {
  margin-bottom: 30px;

  @media ($tablet-width) {
    margin-bottom: 40px;
  }

  @media ($desktop-width) {
    margin-bottom: 54px;
  }
}

.main-header__wrapper {
  outline: 3px dotted rgb(160, 12, 12);
  outline-offset: -3px;
}

.main-header__title {
  margin: 0 auto;
  margin-bottom: 120px;
  outline: 3px solid rgb(139, 55, 55);
  outline-offset: -3px;
}

.main-header__list {
  @media ($tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media ($desktop-width) {
    width: 1150px;
    margin: 0 auto;
  }
}

.main-header__item {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-basic-white;
  text-decoration: none;
  background-color: $color-accent-green;
  padding: 25px 30px;
  outline: 3px solid rgb(141, 21, 141);
  outline-offset: -3px;

  @media ($tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
  }
}

.main-header__item--kidtoys {
  background-color: $color-kidtoys-background;
}
