.modal__order {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: $color-basic-white;
  z-index: 10;
  width: 320px;

  @media ($tablet-width) {
    width: 566px;
    height: 336px;
  }
}

.modal__order-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-basic-black;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 14px;

  @media ($tablet-width) {
    font-size: 30px;
    line-height: 57px;
    padding-top: 39px;

    br {
      display: none;
    }
  }
}

.modal__order-form {
  padding-bottom: 47px;
}

.modal__order-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.modal__order-legend {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 30px;
  color: $color-text-description;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 23px;

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 17px;
  }
}

.modal__order-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;

  @media ($tablet-width) {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 30px;
  }
}

.modal__order-control-input + .modal__order-control-label {
  position: relative;
  padding: 16px 34px;
  border: 2px solid $color-basic-grey-opacity-01;

  @media ($tablet-width) {
    padding: 16px 49px;
  }

  &:hover,
  &:focus {
    border: 2px solid $color-basic-grey-opacity-03;
  }

  &:active {
    border: 2px solid $color-form-decoration-green;
  }
}

.modal__order-control-input:checked + .modal__order-control-label {
  border: 2px solid $color-accent-green;
}

.modal__order-control-label {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-text-description;
  text-align: center;
}

.modal__order-add {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-basic-white;
  background-color: $color-accent-green;
  text-align: center;
  border: none;
  margin: 0 auto;
  padding: 17px 81px;

  @media ($tablet-width) {
    padding: 18px 126px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal--show {
  display: block;
}

.modal__order--show {
  display: block;
}
