.nav-delivery {
  @media ($tablet-width) {
    order: 3;
  }

  @media ($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav-delivery__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media ($tablet-width) {
    display: flex;
  }

  @media ($desktop-width) {
    width: 50%;
  }
}

//.nav-delivery__item {}

.nav-delivery__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-basic-black;
  text-align: left;
  text-decoration: none;

  @media ($tablet-width) {
    display: none;
  }

  @media ($desktop-width) {
    display: block;
  }
}

.nav-delivery__post {
  display: block;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 24px;
  color: $color-text-description;
  text-align: right;
  margin: 0;
  padding: 0;

  @media ($desktop-width) {
    width: 50%;
  }
}
