.page-header {
  @media ($mobile-width) {
    box-shadow: 0 1px 0 $color-main-nav-decoration, inset 0 1px 0 $color-main-nav-decoration;
  }

  @media ($tablet-width) {

    position: relative;

    &::before {
      position: absolute;
      content: "";
      z-index: 5;
      width: 100%;
      height: 1px;
      left: 0;
      top: 88px;
      background-color: $color-basic-black-opacity-01;
    }
  }
}
