.page-footer {
  background-color: $color-page-background-grey;
}

.page-footer__wrapper {
  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding-top: 49px;
    padding-bottom: 53px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
  }
}

.page-footer__logo {
  @media ($mobile-width) {
    display: none;
  }

  &:hover .page-footer__logo-icon,
  &:focus .page-footer__logo-icon {
    fill: $color-focus-green;
  }

  &:active .page-footer__logo-icon {
    opacity: 0.3;
  }
}

.page-footer__logo-icon {
  width: 102px;
  height: 34px;
  fill: $color-basic-black;
}

.page-footer__social {
  @media ($mobile-width) {
    padding-top: 23px;
    padding-bottom: 28px;
    box-shadow: 0 1px 0 $color-main-nav-decoration;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;

  @media ($tablet-width) {
    padding: 0;
  }
}

.page-footer__copyright-text {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-basic-black;
  margin: 0;
  padding-right: 28px;
  padding-bottom: 3px;
}

.page-footer__copyright-link {
  display: block;
  padding-top: 3px;

  &:hover .page-footer__copyright-icon,
  &:focus .page-footer__copyright-icon {
    fill: $color-focus-green;
  }

  &:active .page-footer__copyright-icon {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  fill: $color-accent-green;
}
