.product {
  @media ($mobile-width) {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media ($tablet-width) {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 53px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 112px;
  }
}

.product__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media ($desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 51px;
  }
}

.product__item {
  &:not(:last-child) {
    @media ($mobile-width) {
      margin-bottom: 30px;
    }

    @media ($tablet-width) {
      margin-bottom: 54px;
    }
  }

  @media ($desktop-width) {
    margin-bottom: 54px;
  }
}
