.reviews {
  position: relative;
  padding-bottom: 51px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }

  @media ($tablet-width) {
    padding-bottom: 101px;
    background-image: url("../img/bg-review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-review-tablet@2x.jpg");
      background-size: 350px 457px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      left: 0;
      bottom: 0;
      background-image: url("../img/zigzag-line-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  @media ($desktop-width) {
    padding-bottom: 86px;
    background-image: none;

    &::after {
      position: absolute;
      content: "";
      width: 1050px;
      height: 23px;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
    }
  }
}

.reviews__wrapper {
  position: relative;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }

  @media ($desktop-width) {
    max-width: 1150px;
    padding-left: 225px;
    padding-bottom: 70px;
    background-image: url("../img/bg-review-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50px 6px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-review-desktop@2x.jpg");
      background-size: 350px 457px;
    }
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media ($tablet-width) {
    order: -2;
    width: 50%;
    flex-grow: 1;
    margin-top: 82px;
    margin-bottom: 39px;
  }

  @media ($desktop-width) {
    margin-bottom: 37px;
  }
}

.reviews__write-wrapper {
  @media ($tablet-width) {
    order: -1;
    width: 50%;
    flex-grow: 1;
  }
}

.reviews__write {
  padding: 14px 65px;

  @media ($tablet-width) {
    font-size: 17px;
    width: 175px;
    padding: 14px 26px;
    margin-top: 78px;
    margin-left: 159px;
  }

  @media ($desktop-width) {
    margin-top: 85px;
    margin-left: 262px;
  }
}

.reviews__list {
  margin: 0;
  flex-grow: 2;
}

.reviews__item {
  margin: 0;
}

//.reviews__author-info {}

.reviews__text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: $color-text-description;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: 330px) {
    br {
      display: none;
    }
  }

  @media ($tablet-width) {
    font-size: 17px;
    margin-bottom: 61px;
  }

  @media ($desktop-width) {
    margin-bottom: 44px;
    padding-right: 61px;
  }
}

.reviews__author-name {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  color: $color-basic-black;
  text-align: left;
  margin-bottom: 4px;

  @media ($tablet-width) {
    font-size: 18px;
  }

  @media ($desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-email {
  font-family: inherit;
  font-weight: inherit;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
  color: $color-text-description;
  text-align: left;
  margin: 0;
  margin-bottom: 29px;
}

.reviews__pagination {
  display: flex;
  margin: 0 auto;
  margin-bottom: 39px;
  width: 260px;

  @media ($tablet-width) {
    justify-content: space-between;
    position: absolute;
    margin-right: 50px;
    width: 175px;
    right: 0;
    bottom: -7px;
  }

  @media ($desktop-width) {
    bottom: 62px;
  }
}

.reviews__pagination-button {
  display: block;
  position: relative;
  border: 1px solid $color-main-nav-decoration;
  background-color: transparent;
  cursor: pointer;
  padding: 25px 64px;

  @media ($tablet-width) {
    border: none;
    padding: 25px 43px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__pagination-button--previous {
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    left: 37px;
    top: 11px;
    background-image: url("../img/button-arrow-back.svg");
    background-repeat: no-repeat;

    @media ($tablet-width) {
      left: 19px;
      top: 10px;
    }
  }
}

.reviews__pagination-button--next {
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    right: 41px;
    top: 11px;
    background-image: url("../img/button-arrow-next.svg");
    background-repeat: no-repeat;

    @media ($tablet-width) {
      right: 19px;
      top: 10px;
    }
  }
}
