.side-header {
  background-color: $color-page-background-grey;

  @media ($tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      left: 0;
      bottom: 0;
      background-image: url("../img/zigzag-header-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  @media ($desktop-width) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      left: 0;
      bottom: -1px;
      background-image: url("../img/zigzag-side-header-desktop.svg");
      background-repeat: repeat-x;
    }
  }
}

.side-header__wrapper {
  margin: 0 auto;

  @media ($tablet-width) {
    max-width: 900px;
  }

  @media ($desktop-width) {
    padding-bottom: 27px;
    max-width: 1150px;
  }
}

.side-header__title {
  position: relative;
  margin: 0;
  padding: 0 5px;
  padding-top: 73px;
  padding-bottom: 74px;

  @media ($tablet-width) {
    padding-top: 56px;
    padding-bottom: 84px;
  }

  @media ($desktop-width) {
    padding-bottom: 86px;
  }
}
