.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media ($tablet-width) {
    display: flex;
    width: 50%;
    order: 2;
    padding-left: 50px;
  }

  @media ($desktop-width) {
    background-color: $color-basic-white;
    order: -1;
    width: 43%;
  }
}

.site-list__item {
  padding-right: 30px;
  padding-left: 76px;
  padding-top: 29px;
  padding-bottom: 26px;
  box-shadow: 0 1px 0 $color-main-nav-decoration, inset 0 1px 0 $color-main-nav-decoration;

  @media ($tablet-width) {
    box-shadow: none;
    padding: 0;
    padding-top: 22px;

    &:not(:last-child) {
      padding-right: 37px;
    }
  }

  @media ($desktop-width) {
    padding-top: 34px;

    &:not(:first-child) {
      padding-left: 36px;
    }

    &:not(:last-child) {
      padding-right: 35px;
      box-shadow: 1px 0 0 $color-basic-black-opacity-01;
    }
  }
}

.site-list__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-basic-black;
  text-align: left;
  text-decoration: none;

  span {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  @media ($tablet-width) {
    font-size: 15px;
  }

  @media ($desktop-width) {
    font-size: 17px;
  }
}
