.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media ($tablet-width) {
    display: flex;
    width: 50%;
    order: 2;
  }

  @media ($desktop-width) {
    order: -1;
  }
}

.site-list__item {
  margin: 27px 0;
  margin-left: 76px;

  @media ($tablet-width) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.site-list__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-basic-black;
  text-align: left;
  text-decoration: none;
}
