.social__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 29px;
  width: 182px;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  @media ($tablet-width) {
    padding-top: 5px;
  }
}

.social__item {
  margin-right: 20px;
  margin-left: 20px;
}

.social__link {
  &:hover .social__logo-icon,
  &:focus .social__logo-icon {
    fill: $color-focus-green;
  }

  &:active .social__logo-icon {
    opacity: 0.3;
  }
}

.social__logo-icon {
  fill: #231f20;
}
