.top-item {
  margin-bottom: 30px;
}

.top-item__wrapper {
  position: relative;
  outline: 3px dotted rgb(128, 240, 133);
  outline-offset: -3px;

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop-width) {
    align-content: flex-start;
    padding-left: 175px;
    min-height: 661px;
  }
}

.top-item__block-header {
  margin-bottom: 4px;

  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    margin-bottom: 31px;
  }

  @media ($desktop-width) {
    display: block;
    margin-bottom: 38px;
  }
}

.top-item__inner-block {
  @media ($tablet-width) {
    width: 50%;
    flex-grow: 1;
  }
}

.top-item__title {
  outline: 3px solid rgb(13, 126, 13);
  outline-offset: -3px;

  @media ($desktop-width) {
    margin-top: 85px;
  }
}

.top-item__top-week {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  color: $color-accent-green;
  margin: 0;
  margin-bottom: 17px;
  outline: 3px solid rgb(124, 21, 21);
  outline-offset: -3px;

  @media ($tablet-width) {
    width: 100px;
    text-align: center;
  }

  @media ($desktop-width) {
    position: absolute;
    left: 32px;
    top: 90px;
    margin: 0;
  }
}

.top-item__text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 24px;
  color: $color-text-description;
  margin: 0;
  margin-bottom: 28px;
  outline: 3px solid rgb(155, 30, 155);
  outline-offset: -3px;

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 290px;
    margin-bottom: 45px;
  }

  @media ($desktop-width) {
    margin-bottom: 55px;
  }
}

.top-item__table {
  margin-bottom: 28px;

  @media ($tablet-width) {
    margin-bottom: 68px;
  }

  @media ($desktop-width) {
    margin-bottom: 123px;
  }
}

.top-item__table tbody {
  display: flex;
}

.top-item__characteristics {
  outline: 3px solid rgb(120, 163, 35);
  outline-offset: -3px;
  display: flex;
  flex-direction: column;
}

.top-item__feature {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: $color-text-description;
  min-width: 97px;

  &:not(:last-child) {
    margin-bottom: 28px;

    @media ($tablet-width) {
      margin-bottom: 17px;
    }
  }
}

.top-item__value {
  outline: 3px solid rgb(19, 19, 141);
  outline-offset: -3px;
  display: flex;
  flex-direction: column;
}

.top-item__description {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: $color-text-description;
  min-width: 159px;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.top-item__image-wrapper {
  @media ($tablet-width) {
    width: 50%;
    flex-grow: 1;
  }

  @media ($desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: 25px;
  }
}

.top-item__image {
  width: 260px;
  height: 315px;
  margin-bottom: 26px;

  @media ($tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media ($desktop-width) {
    width: 525px;
    height: 636px;
  }

  outline: 3px solid rgb(49, 117, 117);
  outline-offset: -3px;
}

.top-item__price {
  display: block;
  font-family: 700;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $color-text-description;
  margin: 0;
  margin-bottom: 25px;
  outline: 3px solid rgb(168, 40, 40);
  outline-offset: -3px;

  @media ($tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 292px;
  }
}

.top-item__order-wrapper {
  @media ($tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 50%;
  }

  @media ($desktop-width) {
    padding-left: 175px;
  }
}

.top-item__order {
  padding: 16px 70px;

  @media ($tablet-width) {
    min-width: 292px;
  }
}
