.top-item {
  position: relative;
  margin: 0 auto;
  padding-bottom: 42px;

  @media ($mobile-width) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 6px;
      left: 0;
      bottom: 0;
      background-image: url("../img/zigzag-line-mobile.svg");
      background-repeat: repeat-x;
    }
  }

  @media ($tablet-width) {
    padding-bottom: 66px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      left: 0;
      bottom: 0;
      background-image: url("../img/zigzag-line-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  @media ($desktop-width) {
    padding-bottom: 91px;

    &::after {
      position: absolute;
      content: "";
      width: 1050px;
      height: 23px;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../img/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
    }
  }
}

.top-item__wrapper {
  position: relative;

  @media ($mobile-width) {
    max-width: 500px;
  }

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }

  @media ($desktop-width) {
    align-content: flex-start;
    max-width: 1150px;
    min-height: 661px;
    padding-left: 225px;
  }
}

.top-item__block-header {
  margin-bottom: 4px;

  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    margin-bottom: 38px;
  }

  @media ($desktop-width) {
    display: block;
    margin-bottom: 32px;
  }
}

.top-item__title {
  margin-bottom: 4px;

  @media ($tablet-width) {
    margin-bottom: 0;
  }

  @media ($desktop-width) {
    margin-top: 85px;
  }
}

.top-item__top-week {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-accent-green;
  margin: 0;
  margin-bottom: 17px;

  @media ($tablet-width) {
    line-height: 17px;
    width: 100px;
    text-align: center;
    padding-top: 6px;
    padding-right: 27px;
    margin-bottom: 0;
  }

  @media ($desktop-width) {
    position: absolute;
    left: 82px;
    top: 90px;
    margin: 0;
    padding: 0;
  }
}

.top-item__inner-block {
  @media ($tablet-width) {
    width: 50%;
  }
}

.top-item__text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 24px;
  color: $color-text-description;
  margin: 0;
  margin-bottom: 19px;

  @media ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 290px;
    margin-bottom: 38px;
  }

  @media ($desktop-width) {
    margin-bottom: 50px;
  }
}

.top-item__table {
  margin-bottom: 28px;

  @media ($tablet-width) {
    margin-bottom: 68px;
  }

  @media ($desktop-width) {
    margin-bottom: 123px;
  }
}

.top-item__table tbody {
  display: flex;
}

.top-item__characteristics {
  display: flex;
  flex-direction: column;
}

.top-item__feature {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: $color-text-description;
  min-width: 97px;
  box-shadow: 0 1px 0 $color-main-nav-decoration;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 11px;
}

.top-item__value {
  display: flex;
  flex-direction: column;
}

.top-item__description {
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: $color-text-description;
  min-width: 159px;
  box-shadow: 0 1px 0 $color-main-nav-decoration;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 11px;
}

.top-item__image-wrapper {
  text-align: center;

  @media ($tablet-width) {
    width: 50%;
    flex-grow: 1;
    margin-top: 11px;
  }

  @media ($desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: 21px;
    margin-right: 24px;
  }
}

.top-item__image {
  width: 100%;
  height: auto;
  margin-bottom: 25px;

  @media ($tablet-width) {
    width: 334px;
    height: 404px;
    margin-bottom: 0;
  }

  @media ($desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.top-item__price {
  display: block;
  font-family: 700;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $color-text-description;
  margin: 0;
  margin-bottom: 23px;

  @media ($tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 292px;
    margin-bottom: 32px;
  }
}

.top-item__order-wrapper {
  @media ($tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    margin-right: 50%;
    margin-bottom: 3px;
  }

  @media ($desktop-width) {
    padding-left: 225px;
    margin-bottom: 4px;
  }
}

.top-item__order {
  padding: 14px 70px;

  @media ($tablet-width) {
    min-width: 292px;
  }

  &:hover,
  &:focus {
    color: $color-basic-white;
    background-color: $color-text-description;
  }

  &:active {
    color: $color-basic-white-opacity-03;
  }
}
