// Color //

$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-text-description: #444444;
$color-page-background-grey: #f1f1f1;
$color-accent-green: #63d1bb;
$color-form-decoration-green: #62d1ba;
$color-kidtoys-background: #56c3b2;
$color-border-decoration-grey: #ececec;
$color-focus-green: #46c1ae;
$color-footer-decoration-line: #e5e5e5;
$color-main-nav-toggle:#231f20;
$color-main-nav-decoration: #ececec;
$color-background-main-header: #f9f9f9;

// Opacity //

$color-basic-white-opacity-03: rgba(255, 255, 255, 0.3);
$color-basic-white-opacity-09: rgba(255, 255, 255, 0.9);
$color-basic-black-opacity-01: rgba(0, 0, 0, 0.1);
$color-basic-black-opacity-02: rgba(0, 0, 0, 0.2);
$color-basic-black-opacity-03: rgba(0, 0, 0, 0.3);
$color-basic-black-opacity-06: rgba(0, 0, 0, 0.6);
$color-basic-grey-opacity-01: rgba(44, 44, 44, 0.1);
$color-basic-grey-opacity-03: rgba(44, 44, 44, 0.3);
$color-basic-mail-green-opacity-01: rgba(70, 193, 174, 0.1);

// Container //

$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1150px";
$mobile-width: "max-width: 767px";
