// Color //

$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-text-description: #444444;
$color-page-background-grey: #f1f1f1;
$color-accent-green: #63d1bb;
$color-form-decoration-green: #62d1ba;
$color-kidtoys-background: #56c3b2;
$color-border-decoration-grey: #ececec;
$color-focus-green: #46c1ae;
$color-footer-decoration-line: #e5e5e5;


// Opacity //

$color-basic-black-opacity-03: rgba(0, 0, 0, 0.3);
